
Port 22 # Recommeded to change it, require extra steps if SELinux is enabled
AddressFamily inet  # means only IPv4
#ListenAddress 0.0.0.0

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

SyslogFacility AUTH
LogLevel INFO # Recommended value for fail2ban

StrictModes yes
LoginGraceTime 1m
PermitRootLogin yes  # Recommended: no or prohibit-password
#AllowGroups  # Recommended: ssh, wheel or sudo
#AllowUsers
MaxAuthTries 5  # Recommended: 2
MaxSessions 3

PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication yes  # Recommended: no
PermitEmptyPasswords no
ChallengeResponseAuthentication no

UsePAM yes

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PrintMotd no  # Recommended: yes if /etc/issue.net is not exposing OS info
PrintLastLog yes
TCPKeepAlive no
PermitUserEnvironment no
Compression no
ClientAliveInterval 0
ClientAliveCountMax 2
UseDNS no
PidFile /var/run/sshd.pid
MaxStartups 10:30:100
PermitTunnel no

#ChrootDirectory none
#VersionAddendum none

Banner /etc/issue.net
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
