[mysqld]
#user = mysql
#skip-networking
#bind-address = 127.0.0.1
explicit_defaults_for_timestamp

# Prevents some mistakes like inserting invalid dates etc.
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_ALL_TABLES

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0
#local-infile = 0

# http://bugs.mysql.com/bug.php?id=68514
performance_schema = OFF

# https://haydenjames.io/mysql-query-cache-size-performance/
query_cache_type = 1

slow_query_log = 1
log_slow_verbosity = query_plan
log-error = /var/log/mysql/error.log

# ssl-ca=/etc/mysql/certs/ca.pem
# ssl-cert=/etc/mysql/certs/cert.pem
# ssl-key=/etc/mysql/certs/key.pem

# on ec2, without this we get a sporadic connection drop when doing the initial migration
max_allowed_packet = 32M

# https://mathiasbynens.be/notes/mysql-utf8mb4
character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
