[mysqld]
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
port = 3306
datadir = /var/lib/mysql
tmpdir = /tmp
lc-messages-dir = /usr/share/mysql

skip-external-locking
skip-networking

bind-address = 127.0.0.1
explicit_defaults_for_timestamp=1

key_buffer_size = 16M
max_allowed_packet = 32M
thread_stack = 192K
thread_cache_size = 8
myisam_recover_options = BACKUP

query_cache_type = 1
query_cache_limit = 1M
query_cache_size = 16M

slow_query_log = 1
log_slow_verbosity = query_plan
log_error = /var/log/mysql/error.log

expire_logs_days = 10
max_binlog_size = 100M

character-set-server = utf8mb4
collation-server  = utf8mb4_unicode_ci
character-set-client-handshake = FALSE

sql_mode = NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER,STRICT_ALL_TABLES
performance_schema = OFF
symbolic-links = 0
local-infile = 0
