UsePAM yes
StrictModes yes
PermitRootLogin yes

ChallengeResponseAuthentication no
PasswordAuthentication no
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
GatewayPorts no
PermitTunnel no
TCPKeepAlive no
PrintMotd no
UseDNS no

MaxAuthTries 2
ClientAliveCountMax 2
ClientAliveInterval 0

AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
